<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="#" *ngFor="let rec of recipes">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src={{rec.imagePath}} alt="">
                <div class="card-body">
                  <h5 class="card-title">{{rec.name}}</h5>
                  <p class="card-text">{{ rec.description }}</p>
                </div>
            </div>
        </a>
    </div>
</div>